streamlit==1.31.1
langchain==0.2.2
langchain-core==0.2.2
langchain-community
langchain-groq==0.1.6
langchain-openai==0.0.8
python-dotenv
beautifulsoup4
pypdf
unstructured
fake_useragent
youtube_transcript_api
pandas==2.2.1
openai==1.14.2
